<% include partial/header.ejs %>
<p>Originally from India,studying in Georgian College in Barrie, Canada. A passionate learner,
    works with the latest technological trends, usable and fast software. When I am not working
    I used to play games and do gardening.</p>
   <img src="/public/images/about.jpg" height="300px">
<% include partial/footer.ejs %>