<% include partial/header.ejs %>

<h3>
    Originally from India,studying in Georgian College in Barrie, Canada. A passionate learner,
    works with the latest technological trends, usable and fast software. When I am not working
    I used to play games and listen to music.
</h3>
   <img class="about-image" src="../images/about.jpg" height= "400px">
<% include partial/footer.ejs %>