<% include partial/header.ejs %>
<h1 class="text-center home-title">Randeep Singh</h1>
<h3 class="text-center typed-header-sub-title"></h3>
<ul class="social-links">
    <li><a title="Linkedin Profile" href="https://www.linkedin.com/in/randeep-singh-ab3759120">LinkedIn</a></li>
    <li><a title="Facebook profile" href="https://www.facebook.com/randeep.singh.33865">Facebook</a></li>
    <li><a title="Google plus profile" href="https://plus.google.com/113624403294474816167">Google Plus</a></li>
</ul>
<% include partial/footer.ejs %>