<%- include partial/header.ejs %>


<h1 class="heading">Projects</h1>
<table class="project-icon">
    <center>
        <tr>

            <td class="td-column"><img src="../images/database.jpg" width="300px" height="200px"></td>
        </tr>
    </center>
</table>

<h1 class="heading"></h1>
<table class="project-icon">
    <center>
    </center>
</table>
<%- include partial/footer.ejs %>
