<% include partial/header.ejs %>

    <h2 class="section-title">
        Skills
    </h2>

<h4>PHP</h4>
<h4>RDBMS</h4>
<h4>Java Script</h4>
<h4>CSS3</h4>
<h4>MySql</h4>
<h4>...</h4>
<% include partial/footer.ejs %>