body {
  padding: 50px;
  background-image: url("/public/images/assasin.jpg");
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
font-face{
  font-family: "Arial Black";
}

.content{
  height: auto;
}
body{
    background-image: url("../images/backgroungimg.jpg");
    height: 100%;
  margin: auto;
}
.wrapper {
  min-height: 100%;
}
.wrapper:after {
  content: '';
  display: block;
}
.wrapper:after, footer {
  height:60px;
}