body {
  padding: 50px;
  background-image: url("/public/images/assasin.jpg");
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
font-face{
  font-family: "Arial Black";
}

.content{
  height: auto;
}