<!DOCTYPE html>
<html>
<head>

    <title>Randeep Singh</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />


</head>
<body>

<nav class="navbar navbar-inverse">

            <a class="navbar-brand" href="/"><i class="fa fa-home"></i>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class = "active"><a href="/">Home</a></li>
            <li class = "active"><a href="/about">About Me</a></li>
            <li class = "active"><a href="/projects">Project</a></li>
            <li class = "active"><a href="/contact">Contact</a></li>
            <li class = "active"><a href="/services">Services</a></li>

        </ul>
    </div>
</nav>